In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sqlite3 as sql

# SQL EXAM REVIEW

Thank you to sqlitetutorial for the database! The database was downloaded from: https://www.sqlitetutorial.net/.

The chinook database includes information about employees who work for a company that sells music and playlists.  The database also includes information about the actual music that the company sells and the customers who have purchased materials from the company.

## Table Descriptions

There are 11 tables in the chinook sample database.  The descriptions of the tables are below.  

* ```employees``` table stores employees data such as employee id, last name, first name, etc. It also has a field named ReportsTo to specify who reports to whom.
* ```customers``` table stores customers data.
*  ```invoices``` & ```invoice_items``` tables: these two tables store invoice data. The invoices table stores invoice header data and the invoice_items table stores the invoice line items data.
* ```artists``` table stores artists data. It is a simple table that contains only the artist id and name.
* ```albums``` table stores data about a list of tracks. Each album belongs to one artist. However, one artist may have multiple albums.
* ```media_types``` table stores media types such as MPEG audio and AAC audio files.
* ```genres``` table stores music types such as rock, jazz, metal, etc.
* ```tracks``` table stores the data of songs. Each track belongs to one album.
* ```playlists``` & ```playlist_track``` tables: 
  * ```playlists``` table store data about ```playlists```. Each ```playlist``` contains a list of tracks. Each track may belong to multiple playlists. The relationship between the ```playlists``` table and ```tracks``` table is many-to-many. The playlist_track table is used to reflect this relationship.

## Visualization of the DB Schema

The following database diagram illustrates the chinook database tables and their relationships.  Because of the many tables, you will certainly need to rely on joins to answer many questions in this homework.

Personally, I would keep a screenshot of it on a second monitor because you'll need to refer to it often.

![Sample Database](https://raw.githubusercontent.com/kathleen-ryan-DeSales/CS260/main/sqlite-sample-database-color.jpg)

---

In [2]:
try:
     
    # Making a connection between sqlite3
    # database and Python Program
    conn = sql.connect('chinook.db')
     
    # If sqlite3 makes a connection with python
    # program then it will print "Connected to SQLite"
    # Otherwise it will show errors
    print("Connected to SQLite")
 
except sqlite3.Error as error:
    print("Failed to execute the above query", error)

Connected to SQLite

# Q1

How many people have the job title IT staff?

Click __here__ to see what the solution looks like.

<!--

|    |   num_it_staff |
|---:|---------------:|
|  0 |              2 |


-->

In [8]:
sql_statement = """
                    SELECT COUNT(*) AS num_it_staff
                    FROM employees 
                    WHERE title = 'IT Staff'
                    

                """

results = pd.read_sql_query(sql_statement, conn)
results

   num_it_staff
0             2

# Q2

Find the total number of customers per country in the database and show the results in alphabetical order by country.

Click __here__ to see what the solution looks like.

<!--

|    | Country        |   num_customers |
|---:|:---------------|----------------:|
|  0 | Argentina      |               1 |
|  1 | Australia      |               1 |
|  2 | Austria        |               1 |
|  3 | Belgium        |               1 |
|  4 | Brazil         |               5 |
|  5 | Canada         |               8 |
|  6 | Chile          |               1 |
|  7 | Czech Republic |               2 |
|  8 | Denmark        |               1 |
|  9 | Finland        |               1 |
| 10 | France         |               5 |
| 11 | Germany        |               4 |
| 12 | Hungary        |               1 |
| 13 | India          |               2 |
| 14 | Ireland        |               1 |
| 15 | Italy          |               1 |
| 16 | Netherlands    |               1 |
| 17 | Norway         |               1 |
| 18 | Poland         |               1 |
| 19 | Portugal       |               2 |
| 20 | Spain          |               1 |
| 21 | Sweden         |               1 |
| 22 | USA            |              13 |
| 23 | United Kingdom |               3 |

-->

In [18]:
sql_statement = """
                   SELECT country, COUNT(*) AS num_customers
                   FROM customers
                   GROUP BY country
                   ORDER BY country ASC;
                """

results = pd.read_sql_query(sql_statement, conn)
results

           Country  num_customers
0        Argentina              1
1        Australia              1
2          Austria              1
3          Belgium              1
4           Brazil              5
5           Canada              8
6            Chile              1
7   Czech Republic              2
8          Denmark              1
9          Finland              1
10          France              5
11         Germany              4
12         Hungary              1
13           India              2
14         Ireland              1
15           Italy              1
16     Netherlands              1
17          Norway              1
18          Poland              1
19        Portugal              2
20           Spain              1
21          Sweden              1
22             USA             13
23  United Kingdom              3

# Q3

Show how many records are missing from each column in the customers table.

Click __here__ to see what the solution looks like.

<!--

|    |   num_missing_fn |   num_missing_ln |   num_missing_co |   num_missing_add |   num_missing_city |   num_missing_st |   num_missing_postal_code |   num_missing_phone |   num_missing_fax |   num_missing_email |   num_missing_support_rep |
|---:|-----------------:|-----------------:|-----------------:|------------------:|-------------------:|-----------------:|--------------------------:|--------------------:|------------------:|--------------------:|--------------------------:|
|  0 |                0 |                0 |               49 |                 0 |                  0 |               29 |                         4 |                   1 |                47 |                   0 |                         0 |

-->

In [63]:
sql_statement = """
                    SELECT COUNT(FirstName) AS num_missing_fn,
                           COUNT(LastName) AS num_missing_ln,
                           COUNT(Company) AS num_missing_co,
                           COUNT(Address) AS num_missing_add,
                           COUNT(City) AS num_missing_city,
                           COUNT(State) AS num_missing_st,
                           COUNT(PostalCode) AS num_missing_postal_code,
                           COUNT(Phone) AS num_missing_phone,
                           COUNT(Fax) AS num_missing_fax,
                           COUNT(Email) AS num_missing_email,
                           COUNT(SupportRepId) AS num_missing_support_rep
                    FROM customers
                    WHERE FirstName AND
                          LastName AND
                          Company AND
                          Address AND
                          City AND
                          State AND
                          PostalCode AND
                          Phone AND
                          Fax AND
                          Email AND
                          SupportRepId = 'None'
                      
              
                """

results = pd.read_sql_query(sql_statement, conn)
results

,num_missing_fn,num_missing_ln,num_missing_co,num_missing_add,num_missing_city,num_missing_st,num_missing_postal_code,num_missing_phone,num_missing_fax,num_missing_email,num_missing_support_rep
0,0,0,0,0,0,0,0,0,0,0,0

# Q4

Find the number of customers in each US state.   Show the results in alphabetical order by state.

Click __here__ to see what the solution looks like.

<!--

m|    | State   |   num_customers |
|---:|:--------|----------------:|
|  0 | AZ      |               1 |
|  1 | CA      |               3 |
|  2 | FL      |               1 |
|  3 | IL      |               1 |
|  4 | MA      |               1 |
|  5 | NV      |               1 |
|  6 | NY      |               1 |
|  7 | TX      |               1 |
|  8 | UT      |               1 |
|  9 | WA      |               1 |
| 10 | WI      |               1 |


-->

In [34]:
sql_statement = """
                    SELECT state, COUNT(*) AS num_customers
                    FROM customers
                    WHERE country = 'USA'
                    GROUP BY state
                    ORDER BY state ASC;
                """

results = pd.read_sql_query(sql_statement, conn)
results

   State  num_customers
0     AZ              1
1     CA              3
2     FL              1
3     IL              1
4     MA              1
5     NV              1
6     NY              1
7     TX              1
8     UT              1
9     WA              1
10    WI              1

# Q5

Select the Ids of those customers from France who ordered songs from the Metal genre.

Click __here__ to see what the solution looks like.

<!--
|    |   CustomerId |
|---:|-------------:|
|  0 |           42 |
|  1 |           39 |
|  2 |           41 |
|  3 |           40 |


-->

In [64]:
sql_statement = """
                    SELECT CustomerId
                    FROM customers
                    WHERE country = 'France' 


                """

results = pd.read_sql_query(sql_statement, conn)
results

   CustomerId
0          39
1          40
2          41
3          42
4          43

# Q6

Find the number of employees under each manager.

Click __here__ to see what the solution looks like.

<!--
|    |   manager_id | manager_FN   | manager_LN   |   num_employees_under |
|---:|-------------:|:-------------|:-------------|----------------------:|
|  0 |            1 | Andrew       | Adams        |                     2 |
|  1 |            2 | Nancy        | Edwards      |                     3 |
|  2 |            6 | Michael      | Mitchell     |                     2 |




-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q7

How many last names that start with “M” are shown on the customer's table but not on the employees' table?

## NOTE:  

* There is only one letter (M) with a repeated last name of that letter between customers/employees. Challenge: How did I verify that?

Click __here__ to see what the solution looks like.

<!--

|    | LastName   |
|---:|:-----------|
|  0 | Mancini    |
|  1 | Martins    |
|  2 | Mercier    |
|  3 | Miller     |
|  4 | Murray     |
|  5 | Muñoz      |

Q8
-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q8

Count the number of employees born in each season and be sure to include a count for those employees whose season of birth is unknown.

Define your seasons as follows:

* March-May is Spring
* June-August
* September-November is Fall
* December-February is Winter

Click __here__ to see what the solution looks like.

<!--

|    | birth_season   |   num_emps |
|---:|:---------------|-----------:|
|  0 | FALL           |          1 |
|  1 | SPRING         |          2 |
|  2 | SUMMER         |          2 |
|  3 | WINTER         |          3 |
-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q9

How many more times does the US pay in total invoices compared to the UK?

Click __here__ to see what the solution looks like.

<!--

|    |   USA_TO_UK_Total_Invoices |
|---:|---------------------------:|
|  0 |                    4.63459 |

-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q10

Show the artists that do not have any albums in the database by using: 
* A Set Theory Command (So Union, Union All, Intersect, or Except) 
* An Anti-Join or Semi-Join 

Just show artistId.

Click __here__ to see what the solution looks like.

<!--

|    |   ArtistId |
|---:|-----------:|
|  0 |         25 |
|  1 |         26 |
|  2 |         28 |
|  3 |         29 |
|  4 |         30 |
|  5 |         31 |
|  6 |         32 |
|  7 |         33 |
|  8 |         34 |
|  9 |         35 |
| 10 |         38 |
| 11 |         39 |
| 12 |         40 |
| 13 |         43 |
| 14 |         44 |
| 15 |         45 |
| 16 |         47 |
| 17 |         48 |
| 18 |         49 |
| 19 |         60 |
| 20 |         61 |
| 21 |         62 |
| 22 |         63 |
| 23 |         64 |
| 24 |         65 |
| 25 |         66 |
| 26 |         67 |
| 27 |         71 |
| 28 |         73 |
| 29 |         74 |
| 30 |         75 |
| 31 |        107 |
| 32 |        119 |
| 33 |        123 |
| 34 |        129 |
| 35 |        154 |
| 36 |        160 |
| 37 |        161 |
| 38 |        162 |
| 39 |        163 |
| 40 |        164 |
| 41 |        165 |
| 42 |        166 |
| 43 |        167 |
| 44 |        168 |
| 45 |        169 |
| 46 |        170 |
| 47 |        171 |
| 48 |        172 |
| 49 |        173 |
| 50 |        174 |
| 51 |        175 |
| 52 |        176 |
| 53 |        177 |
| 54 |        178 |
| 55 |        181 |
| 56 |        182 |
| 57 |        183 |
| 58 |        184 |
| 59 |        185 |
| 60 |        186 |
| 61 |        187 |
| 62 |        188 |
| 63 |        189 |
| 64 |        190 |
| 65 |        191 |
| 66 |        192 |
| 67 |        193 |
| 68 |        194 |
| 69 |        195 |
| 70 |        239 |
-->

In [ ]:
#A Set Theory Command (So Union, Union All, Intersect, or Except) 
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

In [ ]:
#An Anti-Join or Semi-Join
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q11

AC/DC is a band that appears as an artist in the database.

Select all albums in the database that have a title longer than all of the AC/DC's album titles.  

Show the album title and the number of letters in the title and also sort by the number of letters from most to highest.


HINT:  You will need to use the LENGTH function to do this.  Here's an example of how length works.  And now that you know it, add it to your SQL cheatsheet.  

| word      | LENGTH(word) |
|-----------|--------------|
| hi        | 2            |
| me        | 2            |
| you       | 3            |
| DeSales   | 7            |
| bye world | 9            |

Click __here__ to see what the solution looks like.

<!--

|    | album_title                                                                                     |   num_letters |
|---:|:------------------------------------------------------------------------------------------------|--------------:|
|  0 | Tchaikovsky: 1812 Festival Overture, Op.49, Capriccio Italien & Beethoven: Wellington's Victory |            95 |
|  1 | J.S. Bach: Chaconne, Suite in E Minor, Partita in E Major & Prelude, Fugue and Allegro          |            86 |
|  2 | Great Performances - Barber's Adagio and Other Romantic Favorites for Strings                   |            77 |
|  3 | Pure Cult: The Best Of The Cult (For Rockers, Ravers, Lovers & Sinners) [UK]                    |            76 |
|  4 | 20th Century Masters - The Millennium Collection: The Best of Scorpions                         |            71 |
|  5 | Radio Brasil (O Som da Jovem Vanguarda) - Seleccao de Henrique Amaro                            |            68 |
|  6 | Great Recordings of the Century - Shubert: Schwanengesang, 4 Lieder                             |            67 |
|  7 | Instant Karma: The Amnesty International Campaign to Save Darfur                                |            64 |
|  8 | Knocking at Your Back Door: The Best Of Deep Purple in the 80's                                 |            63 |
|  9 | Great Recordings of the Century - Mahler: Das Lied von der Erde                                 |            63 |
| 10 | Handel: Music for the Royal Fireworks (Original Version 1749)                                   |            61 |
| 11 | Locatelli: Concertos for Violin, Strings and Continuo, Vol. 3                                   |            61 |
| 12 | Prokofiev: Symphony No.5 & Stravinksy: Le Sacre Du Printemps                                    |            60 |
| 13 | Schubert: The Late String Quartets & String Quintet (3 CD's)                                    |            60 |
| 14 | Adorate Deum: Gregorian Chant from the Proper of the Mass                                       |            57 |
| 15 | Holst: The Planets, Op. 32 & Vaughan Williams: Fantasies                                        |            56 |
| 16 | Grieg: Peer Gynt Suites & Sibelius: Pelléas et Mélisande                                        |            56 |
| 17 | Great Recordings of the Century: Paganini's 24 Caprices                                         |            55 |
| 18 | Palestrina: Missa Papae Marcelli & Allegri: Miserere                                            |            52 |
| 19 | Elgar: Cello Concerto & Vaughan Williams: Fantasias                                             |            51 |
| 20 | Armada: Music from the Courts of England and Spain                                              |            50 |
| 21 | Koyaanisqatsi (Soundtrack from the Motion Picture)                                              |            50 |
| 22 | Seek And Shall Find: More Of The Best (1963-1981)                                               |            49 |
| 23 | The Best Of Buddy Guy - The Millenium Collection                                                |            48 |
| 24 | Lulu Santos - RCA 100 Anos De Música - Álbum 01                                                 |            47 |
| 25 | Lulu Santos - RCA 100 Anos De Música - Álbum 02                                                 |            47 |
| 26 | Beethoven Piano Sonatas: Moonlight & Pastorale                                                  |            46 |
| 27 | Charpentier: Divertissements, Airs & Concerts                                                   |            45 |
| 28 | Liszt - 12 Études D'Execution Transcendante                                                     |            43 |
| 29 | Cássia Eller - Coleção Sem Limite [Disc 2]                                                      |            42 |
| 30 | My Way: The Best Of Frank Sinatra [Disc 1]                                                      |            42 |
| 31 | A TempestadeTempestade Ou O Livro Dos Dias                                                      |            42 |
| 32 | From The Muddy Banks Of The Wishkah [Live]                                                      |            42 |
| 33 | Beethoven: Symphony No. 6 'Pastoral' Etc.                                                       |            41 |
| 34 | Alcohol Fueled Brewtality Live! [Disc 1]                                                        |            40 |
| 35 | Alcohol Fueled Brewtality Live! [Disc 2]                                                        |            40 |
| 36 | Quanta Gente Veio ver--Bônus De Carnaval                                                        |            40 |
| 37 | My Generation - The Very Best Of The Who                                                        |            40 |
| 38 | Battlestar Galactica (Classic), Season 1                                                        |            40 |
| 39 | Os Cães Ladram Mas A Caravana Não Pára                                                          |            38 |
| 40 | Battlestar Galactica: The Story So Far                                                          |            38 |
| 41 | Fauré: Requiem, Ravel: Pavane & Others                                                          |            38 |
| 42 | Puccini: Madama Butterfly - Highlights                                                          |            38 |
| 43 | Mendelssohn: A Midsummer Night's Dream                                                          |            38 |

-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q12



For each track, list its name and how many seconds longer/shorter (in seconds) it is compared to "Restless and Wild".

Double click __here__ for a hint.

<!--

## NOTE/CHALLENGE:  
* I rephrased the question so you have to change units, ie, go from milliseconds to seconds.

-->

Click __here__ to see what the solution looks like.

<!--

|    | Name                              |   diff_from_rw_in_secs |
|---:|:----------------------------------|-----------------------:|
|  0 | Occupation / Precipice            |                5034.9  |
|  1 | Through a Looking Glass           |                4836.79 |
|  2 | Greetings from Earth, Pt. 1       |                2708.24 |
|  3 | The Man With Nine Lives           |                2704.95 |
|  4 | Battlestar Galactica, Pt. 2       |                2704.03 |
|  5 | Battlestar Galactica, Pt. 1       |                2700.65 |
|  6 | Murder On the Rising Star         |                2683.84 |
|  7 | Battlestar Galactica, Pt. 3       |                2675.75 |
|  8 | Take the Celestra                 |                2675.63 |
|  9 | Fire In Space                     |                2674.54 |
| 10 | The Long Patrol                   |                2672.96 |
| 11 | The Magnificent Warriors          |                2672.66 |
| 12 | The Living Legend, Pt. 1          |                2672.46 |
| 13 | The Gun On Ice Planet Zero, Pt. 2 |                2672.29 |
| 14 | The Hand of God                   |                2671.96 |
| 15 | Experiment In Terra               |                2671.5  |
| 16 | War of the Gods, Pt. 2            |                2671.33 |
| 17 | The Living Legend, Pt. 2          |                2671.25 |
| 18 | War of the Gods, Pt. 1            |                2670.58 |
| 19 | Lost Planet of the Gods, Pt. 1    |                2670.5  |

...

| 3483 | Smoked Pork              |               -204.718 |
| 3484 | Blanco                   |               -206.86  |
| 3485 | The Star Spangled Banner |               -208.819 |
| 3486 | Little Guitars (Intro)   |               -209.811 |
| 3487 | The Hellion              |               -210.151 |
| 3488 | Demorou!                 |               -212.92  |
| 3489 | Freedom For My People    |               -213.887 |
| 3490 | Cabeça Dinossauro        |               -214.931 |
| 3491 | Homem Primata (Vinheta)  |               -217.883 |
| 3492 | Deixa Entrar             |               -218.432 |
| 3493 | Mateus Enter             |               -218.902 |
| 3494 | Casinha Feliz            |               -219.764 |
| 3495 | Bossa                    |               -223.003 |
| 3496 | Commercial 2             |               -230.84  |
| 3497 | The Real Problem         |               -240.401 |
| 3498 | Commercial 1             |               -244.11  |
| 3499 | Oprah                    |               -245.416 |
| 3500 | A Statistic              |               -245.678 |
| 3501 | Now Sports               |               -247.167 |
| 3502 | É Uma Partida De Futebol |               -250.98  |
-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q13

Find the percentage of tracks with bytes bigger than 5  million in the tracks table.

Double click __here__ for a hint.

<!--

The first step would be to check if any bytes are null.  As it turns out, no record has a null bytes value.

Since no record has a null bytes value, it does not matter whether we use ```COUNT(*)``` or ```COUNT(Bytes)``` in the denominator for our percentage.

-->

Click __here__ to see what the solution looks like.

<!--

|    |   percent_above_5mil |
|---:|---------------------:|
|  0 |              87.6963 |


-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q14

Select albums featuring less than 10 songs.  Show the count of songs for the album and sort your results by the number of songs, MOST to LEAST.

Design your query so that if there are any albums with no tracks in the database, they would be included in the list.

Double click __here__ for a hint.

<!--
You need to use LEFT JOIN and not just an inner join here.  Why?  There could have been albums with no tracks in the database.  In that case, there'd be a row with "Title of Album 0" and 0 is less than 10.

As it turns out, however, there are no albumns with no tracks in the database so you won't see a difference in the answer if you use LEFT JOIn or just JOIN.
-->

Click __here__ to see what the solution looks like.

<!--


|     |   AlbumId | album_title                                                                                     |   num_songs |
|----:|----------:|:------------------------------------------------------------------------------------------------|------------:|
|   0 |        31 | Bongo Fury                                                                                      |           9 |
|   1 |        58 | Come Taste The Band                                                                             |           9 |
|   2 |        64 | Slaves And Masters                                                                              |           9 |
|   3 |        65 | Stormbringer                                                                                    |           9 |
|   4 |        68 | Outbreak                                                                                        |           9 |
|   5 |       100 | Iron Maiden                                                                                     |           9 |
|   6 |       106 | Piece Of Mind                                                                                   |           9 |
|   7 |       109 | Rock In Rio [CD2]                                                                               |           9 |
|   8 |       132 | Led Zeppelin I                                                                                  |           9 |
|   9 |       133 | Led Zeppelin II                                                                                 |           9 |
|  10 |       135 | Physical Graffiti [Disc 2]                                                                      |           9 |
|  11 |       156 | ...And Justice For All                                                                          |           9 |
|  12 |       183 | Dark Side Of The Moon                                                                           |           9 |
|  13 |       204 | Morning Dance                                                                                   |           9 |
|  14 |       210 | Live [Disc 2]                                                                                   |           9 |
|  15 |         4 | Let There Be Rock                                                                               |           8 |
|  16 |         9 | Plays Metallica By Four Cellos                                                                  |           8 |
|  17 |        13 | The Best Of Billy Cobham                                                                        |           8 |
|  18 |       107 | Powerslave                                                                                      |           8 |
|  19 |       110 | Seventh Son of a Seventh Son                                                                    |           8 |
|  20 |       111 | Somewhere in Time                                                                               |           8 |
|  21 |       112 | The Number of The Beast                                                                         |           8 |
|  22 |       114 | Virtual XI                                                                                      |           8 |
|  23 |       128 | Coda                                                                                            |           8 |
|  24 |       129 | Houses Of The Holy                                                                              |           8 |
|  25 |       131 | IV                                                                                              |           8 |
|  26 |       152 | Master Of Puppets                                                                               |           8 |
|  27 |       154 | Ride The Lightning                                                                              |           8 |
|  28 |       197 | Santana - As Years Go By                                                                        |           8 |
|  29 |        16 | Black Sabbath                                                                                   |           7 |
|  30 |        43 | MK III The Final Concerts [Disc 1]                                                              |           7 |
|  31 |        59 | Deep Purple In Rock                                                                             |           7 |
|  32 |        60 | Fireball                                                                                        |           7 |
|  33 |        62 | Machine Head                                                                                    |           7 |
|  34 |       130 | In Through The Out Door                                                                         |           7 |
|  35 |       136 | Presence                                                                                        |           7 |
|  36 |       208 | [1997] Black Light Syndrome                                                                     |           7 |
|  37 |        44 | Physical Graffiti [Disc 1]                                                                      |           6 |
|  38 |       198 | Santana Live                                                                                    |           6 |
|  39 |       249 | The Office, Season 1                                                                            |           6 |
|  40 |        15 | Alcohol Fueled Brewtality Live! [Disc 2]                                                        |           5 |
|  41 |       137 | The Song Remains The Same (Disc 1)                                                              |           5 |
|  42 |        50 | The Final Concerts (Disc 2)                                                                     |           4 |
|  43 |       138 | The Song Remains The Same (Disc 2)                                                              |           4 |
|  44 |         3 | Restless and Wild                                                                               |           3 |
|  45 |        22 | Sozinho Remix Ao Vivo                                                                           |           3 |
|  46 |        87 | Quanta Gente Veio ver--Bônus De Carnaval                                                        |           3 |
|  47 |       171 | Blizzard of Ozz                                                                                 |           2 |
|  48 |       173 | No More Tears (Remastered)                                                                      |           2 |
|  49 |       262 | Quiet Songs                                                                                     |           2 |
|  50 |       263 | Muso Ko                                                                                         |           2 |
|  51 |       264 | Realize                                                                                         |           2 |
|  52 |       265 | Every Kind of Light                                                                             |           2 |
|  53 |       280 | The World of Classical Favourites                                                               |           2 |
|  54 |       314 | English Renaissance                                                                             |           2 |
|  55 |         2 | Balls to the Wall                                                                               |           1 |
|  56 |       170 | Bark at the Moon (Remastered)                                                                   |           1 |
|  57 |       172 | Diary of a Madman (Remastered)                                                                  |           1 |
|  58 |       226 | Battlestar Galactica: The Story So Far                                                          |           1 |
|  59 |       252 | Un-Led-Ed                                                                                       |           1 |
|  60 |       254 | Aquaman                                                                                         |           1 |
|  61 |       260 | Cake: B-Sides and Rarities                                                                      |           1 |
|  62 |       266 | Duos II                                                                                         |           1 |
|  63 |       267 | Worlds                                                                                          |           1 |
|  64 |       268 | The Best of Beethoven                                                                           |           1 |
|  65 |       272 | Adorate Deum: Gregorian Chant from the Proper of the Mass                                       |           1 |
|  66 |       273 | Allegri: Miserere                                                                               |           1 |
|  67 |       274 | Pachelbel: Canon & Gigue                                                                        |           1 |
|  68 |       275 | Vivaldi: The Four Seasons                                                                       |           1 |
|  69 |       276 | Bach: Violin Concertos                                                                          |           1 |
|  70 |       277 | Bach: Goldberg Variations                                                                       |           1 |
|  71 |       278 | Bach: The Cello Suites                                                                          |           1 |
|  72 |       279 | Handel: The Messiah (Highlights)                                                                |           1 |
|  73 |       281 | Sir Neville Marriner: A Celebration                                                             |           1 |
|  74 |       282 | Mozart: Wind Concertos                                                                          |           1 |
|  75 |       283 | Haydn: Symphonies 99 - 104                                                                      |           1 |
|  76 |       284 | Beethoven: Symhonies Nos. 5 & 6                                                                 |           1 |
|  77 |       285 | A Soprano Inspired                                                                              |           1 |
|  78 |       286 | Great Opera Choruses                                                                            |           1 |
|  79 |       287 | Wagner: Favourite Overtures                                                                     |           1 |
|  80 |       288 | Fauré: Requiem, Ravel: Pavane & Others                                                          |           1 |
|  81 |       289 | Tchaikovsky: The Nutcracker                                                                     |           1 |
|  82 |       290 | The Last Night of the Proms                                                                     |           1 |
|  83 |       291 | Puccini: Madama Butterfly - Highlights                                                          |           1 |
|  84 |       292 | Holst: The Planets, Op. 32 & Vaughan Williams: Fantasies                                        |           1 |
|  85 |       293 | Pavarotti's Opera Made Easy                                                                     |           1 |
|  86 |       294 | Great Performances - Barber's Adagio and Other Romantic Favorites for Strings                   |           1 |
|  87 |       295 | Carmina Burana                                                                                  |           1 |
|  88 |       296 | A Copland Celebration, Vol. I                                                                   |           1 |
|  89 |       297 | Bach: Toccata & Fugue in D Minor                                                                |           1 |
|  90 |       298 | Prokofiev: Symphony No.1                                                                        |           1 |
|  91 |       299 | Scheherazade                                                                                    |           1 |
|  92 |       300 | Bach: The Brandenburg Concertos                                                                 |           1 |
|  93 |       301 | Chopin: Piano Concertos Nos. 1 & 2                                                              |           1 |
|  94 |       302 | Mascagni: Cavalleria Rusticana                                                                  |           1 |
|  95 |       303 | Sibelius: Finlandia                                                                             |           1 |
|  96 |       304 | Beethoven Piano Sonatas: Moonlight & Pastorale                                                  |           1 |
|  97 |       305 | Great Recordings of the Century - Mahler: Das Lied von der Erde                                 |           1 |
|  98 |       306 | Elgar: Cello Concerto & Vaughan Williams: Fantasias                                             |           1 |
|  99 |       307 | Adams, John: The Chairman Dances                                                                |           1 |
| 100 |       308 | Tchaikovsky: 1812 Festival Overture, Op.49, Capriccio Italien & Beethoven: Wellington's Victory |           1 |
| 101 |       309 | Palestrina: Missa Papae Marcelli & Allegri: Miserere                                            |           1 |
| 102 |       310 | Prokofiev: Romeo & Juliet                                                                       |           1 |
| 103 |       311 | Strauss: Waltzes                                                                                |           1 |
| 104 |       312 | Berlioz: Symphonie Fantastique                                                                  |           1 |
| 105 |       313 | Bizet: Carmen Highlights                                                                        |           1 |
| 106 |       315 | Handel: Music for the Royal Fireworks (Original Version 1749)                                   |           1 |
| 107 |       316 | Grieg: Peer Gynt Suites & Sibelius: Pelléas et Mélisande                                        |           1 |
| 108 |       317 | Mozart Gala: Famous Arias                                                                       |           1 |
| 109 |       318 | SCRIABIN: Vers la flamme                                                                        |           1 |
| 110 |       319 | Armada: Music from the Courts of England and Spain                                              |           1 |
| 111 |       320 | Mozart: Symphonies Nos. 40 & 41                                                                 |           1 |
| 112 |       323 | Carried to Dust (Bonus Track Version)                                                           |           1 |
| 113 |       324 | Beethoven: Symphony No. 6 'Pastoral' Etc.                                                       |           1 |
| 114 |       325 | Bartok: Violin & Viola Concertos                                                                |           1 |
| 115 |       326 | Mendelssohn: A Midsummer Night's Dream                                                          |           1 |
| 116 |       327 | Bach: Orchestral Suites Nos. 1 - 4                                                              |           1 |
| 117 |       328 | Charpentier: Divertissements, Airs & Concerts                                                   |           1 |
| 118 |       329 | South American Getaway                                                                          |           1 |
| 119 |       330 | Górecki: Symphony No. 3                                                                         |           1 |
| 120 |       331 | Purcell: The Fairy Queen                                                                        |           1 |
| 121 |       332 | The Ultimate Relexation Album                                                                   |           1 |
| 122 |       333 | Purcell: Music for the Queen Mary                                                               |           1 |
| 123 |       334 | Weill: The Seven Deadly Sins                                                                    |           1 |
| 124 |       335 | J.S. Bach: Chaconne, Suite in E Minor, Partita in E Major & Prelude, Fugue and Allegro          |           1 |
| 125 |       336 | Prokofiev: Symphony No.5 & Stravinksy: Le Sacre Du Printemps                                    |           1 |
| 126 |       337 | Szymanowski: Piano Works, Vol. 1                                                                |           1 |
| 127 |       338 | Nielsen: The Six Symphonies                                                                     |           1 |
| 128 |       339 | Great Recordings of the Century: Paganini's 24 Caprices                                         |           1 |
| 129 |       340 | Liszt - 12 Études D'Execution Transcendante                                                     |           1 |
| 130 |       341 | Great Recordings of the Century - Shubert: Schwanengesang, 4 Lieder                             |           1 |
| 131 |       342 | Locatelli: Concertos for Violin, Strings and Continuo, Vol. 3                                   |           1 |
| 132 |       343 | Respighi:Pines of Rome                                                                          |           1 |
| 133 |       344 | Schubert: The Late String Quartets & String Quintet (3 CD's)                                    |           1 |
| 134 |       345 | Monteverdi: L'Orfeo                                                                             |           1 |
| 135 |       346 | Mozart: Chamber Music                                                                           |           1 |
| 136 |       347 | Koyaanisqatsi (Soundtrack from the Motion Picture)                                              |           1 |


-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q15

Find the names of the tracks that are MPEG-4 file types.

Click __here__ to see what the solution looks like.

<!--

|     | Name                                           |
|----:|:-----------------------------------------------|
|   0 | Battlestar Galactica: The Story So Far         |
|   1 | Occupation / Precipice                         |
|   2 | Exodus, Pt. 1                                  |
|   3 | Exodus, Pt. 2                                  |
|   4 | Collaborators                                  |
|   5 | Torn                                           |
|   6 | A Measure of Salvation                         |
|   7 | Hero                                           |
|   8 | Unfinished Business                            |
|   9 | The Passage                                    |
|  10 | The Eye of Jupiter                             |
|  11 | Rapture                                        |
|  12 | Taking a Break from All Your Worries           |
|  13 | The Woman King                                 |
|  14 | A Day In the Life                              |
|  15 | Dirty Hands                                    |
|  16 | Maelstrom                                      |
|  17 | The Son Also Rises                             |
|  18 | Crossroads, Pt. 1                              |
|  19 | Crossroads, Pt. 2                              |
|  20 | Genesis                                        |
|  21 | Don't Look Back                                |
|  22 | One Giant Leap                                 |
|  23 | Collision                                      |
|  24 | Hiros                                          |
|  25 | Better Halves                                  |
|  26 | Nothing to Hide                                |
|  27 | Seven Minutes to Midnight                      |
|  28 | Homecoming                                     |
|  29 | Six Months Ago                                 |
|  30 | Fallout                                        |
|  31 | The Fix                                        |
|  32 | Distractions                                   |
|  33 | Run!                                           |
|  34 | Unexpected                                     |
|  35 | Company Man                                    |
|  36 | Company Man                                    |
|  37 | Parasite                                       |
|  38 | A Tale of Two Cities                           |
|  39 | Lost (Pilot, Part 1) [Premiere]                |
|  40 | Man of Science, Man of Faith (Premiere)        |
|  41 | Adrift                                         |
|  42 | Lost (Pilot, Part 2)                           |
|  43 | The Glass Ballerina                            |
|  44 | Further Instructions                           |
|  45 | Orientation                                    |
|  46 | Tabula Rasa                                    |
|  47 | Every Man for Himself                          |
|  48 | Everybody Hates Hugo                           |
|  49 | Walkabout                                      |
|  50 | ...And Found                                   |
|  51 | The Cost of Living                             |
|  52 | White Rabbit                                   |
|  53 | Abandoned                                      |
|  54 | House of the Rising Sun                        |
|  55 | I Do                                           |
|  56 | Not In Portland                                |
|  57 | Not In Portland                                |
|  58 | The Moth                                       |
|  59 | The Other 48 Days                              |
|  60 | Collision                                      |
|  61 | Confidence Man                                 |
|  62 | Flashes Before Your Eyes                       |
|  63 | Lost Survival Guide                            |
|  64 | Solitary                                       |
|  65 | What Kate Did                                  |
|  66 | Raised By Another                              |
|  67 | Stranger In a Strange Land                     |
|  68 | The 23rd Psalm                                 |
|  69 | All the Best Cowboys Have Daddy Issues         |
|  70 | The Hunting Party                              |
|  71 | Tricia Tanaka Is Dead                          |
|  72 | Enter 77                                       |
|  73 | Fire + Water                                   |
|  74 | Whatever the Case May Be                       |
|  75 | Hearts and Minds                               |
|  76 | Par Avion                                      |
|  77 | The Long Con                                   |
|  78 | One of Them                                    |
|  79 | Special                                        |
|  80 | The Man from Tallahassee                       |
|  81 | Exposé                                         |
|  82 | Homecoming                                     |
|  83 | Maternity Leave                                |
|  84 | Left Behind                                    |
|  85 | Outlaws                                        |
|  86 | The Whole Truth                                |
|  87 | ...In Translation                              |
|  88 | Lockdown                                       |
|  89 | One of Us                                      |
|  90 | Catch-22                                       |
|  91 | Dave                                           |
|  92 | Numbers                                        |
|  93 | D.O.C.                                         |
|  94 | Deus Ex Machina                                |
|  95 | S.O.S.                                         |
|  96 | Do No Harm                                     |
|  97 | Two for the Road                               |
|  98 | The Greater Good                               |
|  99 | "?"                                            |
| 100 | Born to Run                                    |
| 101 | Three Minutes                                  |
| 102 | Exodus (Part 1)                                |
| 103 | Live Together, Die Alone, Pt. 1                |
| 104 | Exodus (Part 2) [Season Finale]                |
| 105 | Live Together, Die Alone, Pt. 2                |
| 106 | Exodus (Part 3) [Season Finale]                |
| 107 | The Brig                                       |
| 108 | .07%                                           |
| 109 | Five Years Gone                                |
| 110 | The Hard Part                                  |
| 111 | The Man Behind the Curtain                     |
| 112 | Greatest Hits                                  |
| 113 | Landslide                                      |
| 114 | The Office: An American Workplace (Pilot)      |
| 115 | Diversity Day                                  |
| 116 | Health Care                                    |
| 117 | The Alliance                                   |
| 118 | Basketball                                     |
| 119 | Hot Girl                                       |
| 120 | The Dundies                                    |
| 121 | Sexual Harassment                              |
| 122 | Office Olympics                                |
| 123 | The Fire                                       |
| 124 | Halloween                                      |
| 125 | The Fight                                      |
| 126 | The Client                                     |
| 127 | Performance Review                             |
| 128 | Email Surveillance                             |
| 129 | Christmas Party                                |
| 130 | Booze Cruise                                   |
| 131 | The Injury                                     |
| 132 | The Secret                                     |
| 133 | The Carpet                                     |
| 134 | Boys and Girls                                 |
| 135 | Valentine's Day                                |
| 136 | Dwight's Speech                                |
| 137 | Take Your Daughter to Work Day                 |
| 138 | Michael's Birthday                             |
| 139 | Drug Testing                                   |
| 140 | Conflict Resolution                            |
| 141 | Casino Night - Season Finale                   |
| 142 | Gay Witch Hunt                                 |
| 143 | The Convention                                 |
| 144 | The Coup                                       |
| 145 | Grief Counseling                               |
| 146 | The Initiation                                 |
| 147 | Diwali                                         |
| 148 | Branch Closing                                 |
| 149 | The Merger                                     |
| 150 | The Convict                                    |
| 151 | A Benihana Christmas, Pts. 1 & 2               |
| 152 | Back from Vacation                             |
| 153 | Traveling Salesmen                             |
| 154 | Producer's Cut: The Return                     |
| 155 | Ben Franklin                                   |
| 156 | Phyllis's Wedding                              |
| 157 | Business School                                |
| 158 | Cocktails                                      |
| 159 | The Negotiation                                |
| 160 | Safety Training                                |
| 161 | Product Recall                                 |
| 162 | Women's Appreciation                           |
| 163 | Beach Games                                    |
| 164 | The Job                                        |
| 165 | How to Stop an Exploding Man                   |
| 166 | Through a Looking Glass                        |
| 167 | Battlestar Galactica, Pt. 1                    |
| 168 | Battlestar Galactica, Pt. 2                    |
| 169 | Battlestar Galactica, Pt. 3                    |
| 170 | Lost Planet of the Gods, Pt. 1                 |
| 171 | Lost Planet of the Gods, Pt. 2                 |
| 172 | The Lost Warrior                               |
| 173 | The Long Patrol                                |
| 174 | The Gun On Ice Planet Zero, Pt. 1              |
| 175 | The Gun On Ice Planet Zero, Pt. 2              |
| 176 | The Magnificent Warriors                       |
| 177 | The Young Lords                                |
| 178 | The Living Legend, Pt. 1                       |
| 179 | The Living Legend, Pt. 2                       |
| 180 | Fire In Space                                  |
| 181 | War of the Gods, Pt. 1                         |
| 182 | War of the Gods, Pt. 2                         |
| 183 | The Man With Nine Lives                        |
| 184 | Murder On the Rising Star                      |
| 185 | Greetings from Earth, Pt. 1                    |
| 186 | Greetings from Earth, Pt. 2                    |
| 187 | Baltar's Escape                                |
| 188 | Experiment In Terra                            |
| 189 | Take the Celestra                              |
| 190 | The Hand of God                                |
| 191 | Pilot                                          |
| 192 | Through the Looking Glass, Pt. 2               |
| 193 | Through the Looking Glass, Pt. 1               |
| 194 | Past, Present, and Future                      |
| 195 | The Beginning of the End                       |
| 196 | LOST Season 4 Trailer                          |
| 197 | LOST In 8:15                                   |
| 198 | Confirmed Dead                                 |
| 199 | The Economist                                  |
| 200 | Eggtown                                        |
| 201 | The Constant                                   |
| 202 | The Other Woman                                |
| 203 | Ji Yeon                                        |
| 204 | Meet Kevin Johnson                             |
| 205 | The Shape of Things to Come                    |
| 206 | Something Nice Back Home                       |
| 207 | Cabin Fever                                    |
| 208 | There's No Place Like Home, Pt. 1              |
| 209 | There's No Place Like Home, Pt. 2              |
| 210 | There's No Place Like Home, Pt. 3              |
| 211 | Band Members Discuss Tracks from "Revelations" |
| 212 | Branch Closing                                 |
| 213 | The Return                                     |


-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q16

Which tracks, if any, have not been ordered through any invoices?

Click __here__ to see what the solution looks like.

<!--

|    |   TrackId | Name                        |
|---:|----------:|:----------------------------|
|  0 |         7 | Let's Get It Up             |
|  1 |        11 | C.O.D.                      |
|  2 |        17 | Let There Be Rock           |
|  3 |        18 | Bad Boy Boogie              |
|  4 |        22 | Whole Lotta Rosie           |
|  5 |        23 | Walk On Water               |
|  6 |        27 | Dude (Looks Like A Lady)    |
|  7 |        29 | Cryin'                      |
|  8 |        33 | The Other Side              |
|  9 |        34 | Crazy                       |
| 10 |        35 | Eat The Rich                |
| 11 |        40 | Perfect                     |
| 12 |        41 | Hand In My Pocket           |
| 13 |        45 | Head Over Feet              |
| 14 |        46 | Mary Jane                   |
| 15 |        47 | Ironic                      |
| 16 |        50 | You Oughta Know (Alternate) |
| 17 |        51 | We Die Young                |
| 18 |        52 | Man In The Box              |
| 19 |        56 | Love, Hate, Love            |

...
| 1499 |      3448 | Lamentations of Jeremiah, First Set \ Incipit Lamentatio                                 |
| 1500 |      3449 | Music for the Royal Fireworks, HWV351 (1749): La Réjouissance                            |
| 1501 |      3451 | Die Zauberflöte, K.620: "Der Hölle Rache Kocht in Meinem Herze"                          |
| 1502 |      3452 | SCRIABIN: Prelude in B Major, Op. 11, No. 11                                             |
| 1503 |      3453 | Pavan, Lachrimae Antiquae                                                                |
| 1504 |      3460 | Love Is a Losing Game                                                                    |
| 1505 |      3468 | You Sent Me Flying / Cherry                                                              |
| 1506 |      3471 | (There Is) No Greater Love (Teo Licks)                                                   |
| 1507 |      3472 | In My Bed                                                                                |
| 1508 |      3474 | October Song                                                                             |
| 1509 |      3475 | What Is It About Men                                                                     |
| 1510 |      3483 | Concert pour 4 Parties de V**les, H. 545: I. Prelude                                     |
| 1511 |      3487 | 3 Gymnopédies: No.1 - Lent Et Grave, No.3 - Lent Et Douloureux                           |
| 1512 |      3491 | Le Sacre Du Printemps: I.iv. Spring Rounds                                               |
| 1513 |      3495 | 24 Caprices, Op. 1, No. 24, for Solo Violin, in A Minor                                  |
| 1514 |      3497 | Erlkonig, D.328                                                                          |
| 1515 |      3498 | Concerto for Violin, Strings and Continuo in G Major, Op. 3, No. 9: I. Allegro           |
| 1516 |      3501 | L'orfeo, Act 3, Sinfonia (Orchestra)                                                     |
| 1517 |      3502 | Quintet for Horn, Violin, 2 Violas, and Cello in E Flat Major, K. 407/386c: III. Allegro |
| 1518 |      3503 | Koyaanisqatsi                                                                            |

-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q17

Show any city that is the hometown of an employee or customer. Order them in alphabetical order.

Click __here__ to see what the solution looks like.

<!--

|    | City                |
|---:|:--------------------|
|  0 | Amsterdam           |
|  1 | Bangalore           |
|  2 | Berlin              |
|  3 | Bordeaux            |
|  4 | Boston              |
|  5 | Brasília            |
|  6 | Brussels            |
|  7 | Budapest            |
|  8 | Buenos Aires        |
|  9 | Calgary             |
| 10 | Chicago             |
| 11 | Copenhagen          |
| 12 | Cupertino           |
| 13 | Delhi               |
| 14 | Dijon               |
| 15 | Dublin              |
| 16 | Edinburgh           |
| 17 | Edmonton            |
| 18 | Fort Worth          |
| 19 | Frankfurt           |
| 20 | Halifax             |
| 21 | Helsinki            |
| 22 | Lethbridge          |
| 23 | Lisbon              |
| 24 | London              |
| 25 | Lyon                |
| 26 | Madison             |
| 27 | Madrid              |
| 28 | Montréal            |
| 29 | Mountain View       |
| 30 | New York            |
| 31 | Orlando             |
| 32 | Oslo                |
| 33 | Ottawa              |
| 34 | Paris               |
| 35 | Porto               |
| 36 | Prague              |
| 37 | Redmond             |
| 38 | Reno                |
| 39 | Rio de Janeiro      |
| 40 | Rome                |
| 41 | Salt Lake City      |
| 42 | Santiago            |
| 43 | Sidney              |
| 44 | Stockholm           |
| 45 | Stuttgart           |
| 46 | São José dos Campos |
| 47 | São Paulo           |
| 48 | Toronto             |
| 49 | Tucson              |
| 50 | Vancouver           |
| 51 | Vienne              |
| 52 | Warsaw              |
| 53 | Winnipeg            |
| 54 | Yellowknife         |

-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q18

Give the name of track with the largest file size in the tracks table .

Double click __here__ for a hint.


<!--
 
The following query would be an INCORRECT way to do this.  For one thing, if there are multiple records with the max size, then this query only returns one.  Second, as you know, the real issue is that this query breaks the rules for when you can mix aggregated columns and non-aggregated columns.  

SELECT Name, MAX(Bytes)
FROM tracks

-->

Click __here__ to see what the solution looks like.

<!--

|    | Name                    |      Bytes |
|---:|:------------------------|-----------:|
|  0 | Through a Looking Glass | 1059546140 |

-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q19

What is the unit price of the track "Fast As a Shark"?

Click __here__ to see what the solution looks like.

<!--

|    |   UnitPrice |
|---:|------------:|
|  0 |        0.99 |

-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q20

List any albums with mixed genres.  Show the id, title, and number of genres for the album.

Click __here__ to see what the solution looks like.

<!--

|    |   AlbumId | album_title                    |   num_genres |
|---:|----------:|:-------------------------------|-------------:|
|  0 |       141 | Greatest Hits                  |            3 |
|  1 |       227 | Battlestar Galactica, Season 3 |            3 |
|  2 |        73 | Unplugged                      |            2 |
|  3 |       102 | Live After Death               |            2 |
|  4 |       109 | Rock In Rio [CD2]              |            2 |
|  5 |       112 | The Number of The Beast        |            2 |
|  6 |       228 | Heroes, Season 1               |            2 |
|  7 |       229 | Lost, Season 3                 |            2 |
|  8 |       231 | Lost, Season 2                 |            2 |
|  9 |       251 | The Office, Season 3           |            2 |
| 10 |       261 | LOST, Season 4                 |            2 |


-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q21

List the artist against the number of genres they have written. Order the artists alphabetically.

Click __here__ to see what the solution looks like.

<!--

|    | artist_name           |   num_genres |
|---:|:----------------------|-------------:|
|  0 | Amy Winehouse         |            2 |
|  1 | Antônio Carlos Jobim  |            2 |
|  2 | Audioslave            |            3 |
|  3 | Battlestar Galactica  |            3 |
|  4 | Eric Clapton          |            2 |
|  5 | Faith No More         |            2 |
|  6 | Foo Fighters          |            2 |
|  7 | Gilberto Gil          |            3 |
|  8 | Guns N' Roses         |            2 |
|  9 | Heroes                |            2 |
| 10 | Iron Maiden           |            4 |
| 11 | Jamiroquai            |            3 |
| 12 | Lenny Kravitz         |            3 |
| 13 | Lost                  |            2 |
| 14 | Ozzy Osbourne         |            2 |
| 15 | Pearl Jam             |            2 |
| 16 | R.E.M.                |            2 |
| 17 | Red Hot Chili Peppers |            2 |
| 18 | The Office            |            2 |
| 19 | U2                    |            2 |
| 20 | Various Artists       |            3 |


-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q22

Find the 3 artists with the most albums in the database (ordered from most to least).  Show their id, name, and number of albums.

Click __here__ to see what the solution looks like.

<!--

|    |   ArtistId | Name         |   num_albums |
|---:|-----------:|:-------------|-------------:|
|  0 |         90 | Iron Maiden  |           21 |
|  1 |         22 | Led Zeppelin |           14 |
|  2 |         58 | Deep Purple  |           11 |

-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q23

List the different media_types (without repeats) in the database.

Click __here__ to see what the solution looks like.

<!--

|    | Name                        |
|---:|:----------------------------|
|  0 | AAC audio file              |
|  1 | MPEG audio file             |
|  2 | Protected AAC audio file    |
|  3 | Protected MPEG-4 video file |
|  4 | Purchased AAC audio file    |


-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q24

Show how many tracks per playlist, including  any playlists that have no tracks.

Click __here__ to see what the solution looks like.

<!--

|    | Name                       |   PlaylistId |   num_tracks     |
|---:|:---------------------------|-------------:|-----------------:|
|  0 | 90’s Music                 |            5 |             1477 |
|  1 | Audiobooks                 |            4 |                0 |
|  2 | Audiobooks                 |            6 |                0 |
|  3 | Brazilian Music            |           11 |               39 |
|  4 | Classical                  |           12 |               75 |
|  5 | Classical 101 - Deep Cuts  |           13 |               25 |
|  6 | Classical 101 - Next Steps |           14 |               25 |
|  7 | Classical 101 - The Basics |           15 |               25 |
|  8 | Grunge                     |           16 |               15 |
|  9 | Heavy Metal Classic        |           17 |               26 |
| 10 | Movies                     |            2 |                0 |
| 11 | Movies                     |            7 |                0 |
| 12 | Music                      |            1 |             3290 |
| 13 | Music                      |            8 |             3290 |
| 14 | Music Videos               |            9 |                1 |
| 15 | On-The-Go 1                |           18 |                1 |
| 16 | TV Shows                   |            3 |              213 |
| 17 | TV Shows                   |           10 |              213 |


-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q25

Notice there are 2 playlists for TV Shows.   Each has 213 tracks.  Are the tracks exactly the same, meaning that the playlists are duplictes? 

To decide, list the track IDs common to both lists using:

* A) Set Theory - UNION, UNION ALL, INTERSECT, or EXCEPT. 
* B) An ANTI Join or SEMI Join

Click __here__ to see what the solution looks like.

<!--

There are 213 track ids on the common list below, so yes they are duplicated playlists.

|     |   TrackId |
|----:|----------:|
|   0 |      2819 |
|   1 |      2820 |
|   2 |      2821 |
|   3 |      2822 |
|   4 |      2823 |
|   5 |      2824 |
|   6 |      2825 |
|   7 |      2826 |
|   8 |      2827 |
|   9 |      2828 |
|  10 |      2829 |
|  11 |      2830 |
|  12 |      2831 |
|  13 |      2832 |
|  14 |      2833 |
|  15 |      2834 |
|  16 |      2835 |
|  17 |      2836 |
|  18 |      2837 |
|  19 |      2838 |
|  20 |      2839 |
|  21 |      2840 |

...
| 180 |      3239 |
| 181 |      3240 |
| 182 |      3241 |
| 183 |      3242 |
| 184 |      3243 |
| 185 |      3244 |
| 186 |      3245 |
| 187 |      3246 |
| 188 |      3247 |
| 189 |      3248 |
| 190 |      3249 |
| 191 |      3250 |
| 192 |      3251 |
| 193 |      3252 |
| 194 |      3337 |
| 195 |      3338 |
| 196 |      3339 |
| 197 |      3340 |
| 198 |      3341 |
| 199 |      3342 |
| 200 |      3343 |
| 201 |      3344 |
| 202 |      3345 |
| 203 |      3346 |
| 204 |      3347 |
| 205 |      3348 |
| 206 |      3360 |
| 207 |      3361 |
| 208 |      3362 |
| 209 |      3363 |
| 210 |      3364 |
| 211 |      3428 |
| 212 |      3429 |

-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q26

Show how many times each song appears in a playlist, showing any songs that have no tracks.

Click __here__ to see what the solution looks like.

<!--

​

|    | Name                                                                                  |   num_playlists |
|---:|:--------------------------------------------------------------------------------------|----------------:|
|  0 | Intoitus: Adorate Deum                                                                |               5 |
|  1 | Miserere mei, Deus                                                                    |               5 |
|  2 | Aria Mit 30 Veränderungen, BWV 988 "Goldberg Variations": Aria                        |               5 |
|  3 | Suite for Solo Cello No. 1 in G Major, BWV 1007: I. Prélude                           |               5 |
|  4 | The Messiah: Behold, I Tell You a Mystery... The Trumpet Shall Sound                  |               5 |
|  5 | Solomon HWV 67: The Arrival of the Queen of Sheba                                     |               5 |
|  6 | Symphony No.5 in C Minor: I. Allegro con brio                                         |               5 |
|  7 | Ave Maria                                                                             |               5 |
|  8 | Nabucco: Chorus, "Va, Pensiero, Sull'ali Dorate"                                      |               5 |
|  9 | Die Walküre: The Ride of the Valkyries                                                |               5 |
| 10 | Nimrod (Adagio) from Variations On an Original Theme, Op. 36 "Enigma"                 |               5 |
| 11 | Jupiter, the Bringer of Jollity                                                       |               5 |
| 12 | Turandot, Act III, Nessun dorma!                                                      |               5 |
| 13 | Carmina Burana: O Fortuna                                                             |               5 |
| 14 | Toccata and Fugue in D Minor, BWV 565: I. Toccata                                     |               5 |
| 15 | Scheherazade, Op. 35: I. The Sea and Sindbad's Ship                                   |               5 |
| 16 | Concerto for Piano No. 2 in F Minor, Op. 21: II. Larghetto                            |               5 |
| 17 | Cavalleria Rusticana \ Act \ Intermezzo Sinfonico                                     |               5 |
| 18 | Karelia Suite, Op.11: 2. Ballade (Tempo Di Menuetto)                                  |               5 |
| 19 | Piano Sonata No. 14 in C Sharp Minor, Op. 27, No. 2, "Moonlight": I. Adagio sostenuto |               5 |

...

| 3483 | Back to Black                                 |               2 |
| 3484 | Love Is a Losing Game                         |               2 |
| 3485 | Tears Dry On Their Own                        |               2 |
| 3486 | Wake Up Alone                                 |               2 |
| 3487 | Some Unholy War                               |               2 |
| 3488 | He Can Only Hold Her                          |               2 |
| 3489 | You Know I'm No Good (feat. Ghostface Killah) |               2 |
| 3490 | Rehab (Hot Chip Remix)                        |               2 |
| 3491 | Intro / Stronger Than Me                      |               2 |
| 3492 | You Sent Me Flying / Cherry                   |               2 |
| 3493 | F**k Me Pumps                                 |               2 |
| 3494 | I Heard Love Is Blind                         |               2 |
| 3495 | (There Is) No Greater Love (Teo Licks)        |               2 |
| 3496 | In My Bed                                     |               2 |
| 3497 | Take the Box                                  |               2 |
| 3498 | October Song                                  |               2 |
| 3499 | What Is It About Men                          |               2 |
| 3500 | Help Yourself                                 |               2 |
| 3501 | Amy Amy Amy (Outro)                           |               2 |
| 3502 | Slowness                                      |               2 |


-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q27

List all composers in the database and how many songs each composer composed, ordered from highest number of songs to lowest.

For songs whose composer is missing, count them together in a category named ```Composer Not Known```.

Click __here__ to see what the solution looks like.

<!--

|    | composer                                       |   num_songs |
|---:|:-----------------------------------------------|------------:|
|  0 | Composer Not Recorded in the DB                |         978 |
|  1 | Steve Harris                                   |          80 |
|  2 | U2                                             |          44 |
|  3 | Jagger/Richards                                |          35 |
|  4 | Billy Corgan                                   |          31 |
|  5 | Kurt Cobain                                    |          26 |
|  6 | Bill Berry-Peter Buck-Mike Mills-Michael Stipe |          25 |
|  7 | The Tea Party                                  |          24 |
|  8 | Miles Davis                                    |          23 |
|  9 | Gilberto Gil                                   |          23 |
| 10 | Chris Cornell                                  |          23 |
| 11 | Chico Science                                  |          23 |
| 12 | Titãs                                          |          22 |
| 13 | Renato Russo                                   |          20 |
| 14 | J.C. Fogerty                                   |          20 |
| 15 | Billie Joe Armstrong -Words Green Day -Music   |          20 |
| 16 | Herbert Vianna                                 |          19 |
| 17 | Anthony Kiedis/Chad Smith/Flea/John Frusciante |          19 |
| 18 | Chris Robinson/Rich Robinson                   |          18 |
| 19 | Vários                                         |          17 |

...

| 833 | Alcino Corrêa/Monarco                                    |           1 |
| 834 | Alcides Dias Lopes                                       |           1 |
| 835 | Albert King                                              |           1 |
| 836 | Alba Carvalho/Fernando Porto                             |           1 |
| 837 | Al Perkins/Willie Dixon                                  |           1 |
| 838 | Al Cleveland/Marvin Gaye/Renaldo Benson                  |           1 |
| 839 | Adriano Bernandes/Edmar Neves                            |           1 |
| 840 | Adrian Vanderberg/David Coverdale                        |           1 |
| 841 | Adrian Smith; Bruce Dickinson                            |           1 |
| 842 | Adrian Smith/Clive Burr/Steve Harris                     |           1 |
| 843 | Adrian Smith/Bruce Dickinson/Nicko McBrain               |           1 |
| 844 | Addie William Jones/Nat Jones                            |           1 |
| 845 | Adalto Magalha/Lourenco                                  |           1 |
| 846 | Acyr Marques/Arlindo Cruz/Franco                         |           1 |
| 847 | Acyi Marques/Arlindo Bruz/Braço, Beto Sem/Zeca Pagodinho |           1 |
| 848 | Aaron Goldberg                                           |           1 |
| 849 | Aaron Copland                                            |           1 |
| 850 | A.Isbell/A.Jones/O.Redding                               |           1 |
| 851 | A.Bouchard/J.Bouchard/S.Pearlman                         |           1 |
| 852 | A. Jamal                                                 |           1 |

-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q28

From the last question we see that U2 had 44 songs.

List all songs composed by the band U2 that are rather long (say longer than 5 minutes) or are small in size (less than 7 million bytes).

Show the song name, the milliseconds, and the bytes of the song.

Click __here__ to see what the solution looks like.

<!--


-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

# Q29 - CHALLENGING

Find the min/max/average quantity of items and the min/max/average invoice total for those who live in and out of the country we currently reside in.

Click __here__ to see what the solution looks like.

<!--

| usa_or_not | min_num_invoice_items | max_num_invoice_items | avg_num_invoice_utens | min_invoice_amt | max_invoice_amt | avg_invoice_amt |
|-----------:|----------------------:|----------------------:|----------------------:|----------------:|----------------:|----------------:|
| USA        | 1                     | 14                    | 5.428571              | 0.99            | 23.86           | 5.747912        |
| Other      | 1                     | 14                    | 5.439252              | 0.99            | 25.86           | 5.624735        |

-->

In [ ]:
sql_statement = """
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

---

You're done!  Now close the DB.

In [ ]:
conn.close()